body {
    font-family: Arial, sans-serif;
    background-image: url(./25336.jpg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    background-color: rgb(1,28,21);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label{
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid rgb(15,69,20);
    border-radius: 4px;
    width: 400px;
    background-color: rgb(1,28,21)
}

input[type="submit"] {
    background-color: rgb(26,92,21);
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(42, 120, 14);
}

h1, label{
    color: white;
}