body {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.hospital {
    background-color: #C0C0C0;
    padding: 2px;
}
h1 {
    text-align: center;
    font-size: 60px;
}
.form {
    font-size: 20px;
    width: 50%;
    margin-left: 30%;
}
.for_input {
    width: 40%;
    text-align: right;
}
.inputs {
    display: flex;
    margin-bottom: 10px; 
}
.inputs label {
    width: 50px; 
    margin-right: 20px; 
}
.btn1, .btn2{
    text-align: center;
    margin-top: 20px;
    background: none;
}
.btn1 button{
    width: 80px;
    height: 30px;
}
.btn2 button{
    width: 100px;
    height: 50px;
}

.border {
    border: 2px solid #333; 
    padding: 5px; 
}

.btn1 button, .btn2 button {
    background: none;
    border: 1px solid black;
    padding: 5px 10px;
}