@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,800;1,100;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,900&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%)
  }
  
  .profile {
    text-align: center;
    width: 330px;
    background-color: hsl(0, 0%, 12%);
    padding: 30px;
    border-radius: 10px;
    color: white;
  }

  .profile img{
    border-radius: 50%;
    width: 85px;
  }

  #location{
    color: hsl(75, 94%, 57%);
  }

  #about{
    color: gray;
  }

  button {
    margin-bottom: 15px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    width: 90%
  }

  button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
  }

  