@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&family=Figtree:ital@0;1&family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,700&family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,600;1,700;1,800&family=Open+Sans:wght@300;400;500;700&family=Outfit:wght@300;500;700&family=Poppins:wght@200;300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap');

body{
    background: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
    height: 1020px;
    font-family: 'Catamaran', sans-serif;
}


nav {
    padding: 10px;
    text-align: center;
    display: inline-block
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.logo {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.text{
    display: inline-block;
    margin-top: 200px;
    margin-left: 240px;
    color: white;
}

.image{
    float: right;
    margin-right: 290px;
    margin-top: 170px;
}

h1{
    font-size: 68px;
    font-family: 'Dosis', sans-serif;
}

i{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 24px;
    color: white
}

.shape{
    position: absolute;
    bottom: 0;
    left: 0%;
}

.support{
    color: white;
	width: 160px;
	height: 45px;
	border-radius: 5px;
	background-color: #735deb;
	border: none;
    font-weight: bold;
    transition: transform 1s ease;
}

.wht-btn{
    color: #735deb;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background-color: white;
	border: none;
    font-weight: bold;
}

.prp-btn{
    color: white;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background-color: #5944cd;
	border: none;
    font-weight: bold;
}

.text button{
    margin-right: 20px;
    margin-top: 20px;
}

p{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
}

i:hover{
	background-color: #735deb;
    cursor: pointer;
}

.wht-btn:hover{
    background-color: #735deb;
}

.prp-btn:hover{
    background-color: white;
    color: #735deb;
}

.support:hover{
    background-color: white;
    color: #735deb;
}

